@{
    ViewData["Title"] = "Home Page";
}

<h1>Food Blog</h1>

@Html.ActionLink("Experiences", "Index", "Experiences") |
@Html.ActionLink("Locations", "Index", "Locations") |
@Html.ActionLink("People", "Index", "People") |